@model IEnumerable<CartItem>
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-9">
        <table class="table table-cart table-mobile">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            @{
                decimal totalPriceProduct = 0;
                decimal ship = 0;
            }
            <tbody class="cart-tbody">
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="product-col">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="#">
                                            <img src="@(string.IsNullOrWhiteSpace(item.Photo) ? "images/employees/no-photo.png" : item.Photo)" alt="Product image">
                                        </a>
                                    </figure>

                                    <h3 class="product-title">
                                        <a href="~/Product/Details/@item.ProductID">@item.ProductName</a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="price-col">@item.SalePrice.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                            <td class="quantity-col">
                                <div class="cart-product-quantity">
                                    <input type="number" class="form-control cart-quantity" data-productid="@item.ProductID" value="@item.Quantity" min="1" max="10" step="1" data-decimals="0" required>
                                </div><!-- End .cart-product-quantity -->
                            </td>
                            @{
                                decimal total = item.SalePrice * item.Quantity;
                                totalPriceProduct += total;
                            }
                            <td class="total-col">@total.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                            <td class="remove-col"><a class="btn-remove" style="cursor: pointer;" data-productid="@item.ProductID"><i class="icon-close"></i></a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Không có sản phẩm nào trong giỏ hàng!</td>
                    </tr>
                }

            </tbody>
        </table><!-- End .table table-wishlist -->

        <div class="cart-bottom">
            <div class="cart-discount">
                <form action="#">
                    <div class="input-group">
                        <input type="text" class="form-control" required placeholder="coupon code">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                        </div><!-- .End .input-group-append -->
                    </div><!-- End .input-group -->
                </form>
            </div><!-- End .cart-discount -->

            <a href="javascript:;" style="cursor: pointer;" class="btn-update-cart btn btn-outline-dark-2"><span>Cập nhật giỏ hàng</span><i class="icon-refresh"></i></a>
        </div><!-- End .cart-bottom -->
    </div><!-- End .col-lg-9 -->
    <aside class="col-lg-3">
        <div class="summary summary-cart">
            <h3 class="summary-title">Tổng giỏ hàng</h3><!-- End .summary-title -->

            <table class="table table-summary">
                <tbody>
                    <tr class="summary-subtotal">
                        <td>Tiền sản phẩm:</td>
                        <td>@totalPriceProduct.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                    </tr><!-- End .summary-subtotal -->
                    <tr class="summary-shipping">
                        <td>Shipping:</td>
                        <td></td>
                    </tr>
                    <tr class="summary-shipping-row">
                        <td>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                <label class="custom-control-label" for="free-shipping">Phí ship</label>
                            </div><!-- End .custom-control -->
                        </td>
                        <td>Miễn phí</td>
                    </tr><!-- End .summary-shipping-row -->
                    @{

                        decimal totalCheckout = totalPriceProduct + ship;
                    }

                    <tr class="summary-total">
                        <td>Tổng thanh toán:</td>
                        <td>@totalCheckout.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                    </tr><!-- End .summary-total -->
                </tbody>
            </table><!-- End .table table-summary -->

            <a href="~/Checkout" class="btn btn-outline-primary-2 btn-order btn-block">THANH TOÁN</a>
        </div><!-- End .summary -->

        <a href="~/Product" class="btn btn-outline-dark-2 btn-block mb-3"><span>TIẾP TỤC MUA SẮM</span><i class="icon-refresh"></i></a>
    </aside><!-- End .col-lg-3 -->
</div><!-- End .row -->